/*ESTRUCTURA DE CSS*/
/*SPV:
    SELECTOR= ETIQUETA/CLASE/ID
    PROPIEDAD= ATRIBUTO/CARACTERISTICA QUE DA ESTRUCTURA
    VALOR= TAMAÑO O VALOR QUE ADQUIERE ESA PROPIEDAD*/


/*///////////////
ESTILOS RESET
////////////////
RESET CSS= ESTILOS RESETEADOS PARA TRABAJAR DESDE CERO, PARTIMOS DEL LLAMADO "*" = TODO EL DOC HTML*/
*{
    margin: 0; /*ESPACIO POR FUERA DE LA CAJA, DEL CONTORNO PARA AFUERA*/
    padding: 0;/*RELLENO, ESPACIADO INTERNO*/
    box-sizing: border-box;/*TAMAÑO DE CAJA O DOCUMENTO*/
    font-family: 'Raleway', sans-serif;
}

/*TIPOGRAFIA Raleway DISPLAY PARA TODO EL DOC*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*TIPOGRAFIA Nunito Sans DISPLAY PARA HEADER Y FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

/*LLAMAMOS A LA LISTA PARA SACAR TODOS LOS ESTILOS QUE TIENE*/
li{
    list-style: none;
}

/*ETIQUETA DE LINK*/
a{ 
    display: inline-block;
    font-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: #1F2129;
    transition: 1s;
}

/*/////////////////
ESTILO BODY
////////////////////*/

#body{
    max-width: 1920px;
    margin: o auto; /*CENTRADO DE CONTENIDO HORIZONTALMENTE*/
}

#main{
    min-height: 100vh; /*ALTO MINIMO= MAIN OCUPANDO SIEMPPRE EL 100% DEL VIEWPORT/VISTA DISPONIBLE EN PANTALLA*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*@MIXIN-$*/

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@mixin grid-productos{
    text-align: center;
    width: 100%;
    font-size: 15px;
}