/*///////////////
ESTILOS DE PAGE SERVICIOS/GRILLAS
////////////*/

#main h1{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
}

#serviciosGrid{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 200px 100px 200px;
    gap: 20px;
    height: 100vh;
    margin: 20px;
    grid-template-areas: 
    "serviciosGrid1 serviciosGrid2 serviciosGrid3 serviciosGrid4" /*FILA1*/
    "serviciosGrid5 serviciosGrid7 serviciosGrid9 serviciosGrid11" /*FILA2*/
    "serviciosGrid6 serviciosGrid8 serviciosGrid10 serviciosGrid12" /*FILA3*/
    ;
}


.serviciosGrid1{
    grid-area: serviciosGrid1;
}

.serviciosGrid2{
    grid-area: serviciosGrid2;
}

.serviciosGrid3{
    grid-area: serviciosGrid3;
}

.serviciosGrid4{
    grid-area: serviciosGrid4;
}

.serviciosGrid5{
    grid-area: serviciosGrid5;
}

.serviciosGrid6{
    grid-area: serviciosGrid6;
}

.serviciosGrid7{
    grid-area: serviciosGrid7;
}

.serviciosGrid8{
    grid-area: serviciosGrid8;
}

.serviciosGrid9{
    grid-area: serviciosGrid9;
}

.serviciosGrid10{
    grid-area: serviciosGrid10;
}

.serviciosGrid11{
    grid-area: serviciosGrid11;
}

.serviciosGrid12{
    grid-area: serviciosGrid12;
}

.boxGrid img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.boxGrid img:active {
    box-shadow: 5px 8px 8px #1F2129;
    transition: 1s;
}

.boxGridTexto{
    display: grid;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    align-items: center;
    transition: 1s;
    background-color: #81964D;
}

.boxGridTexto:hover {
    color: #F5F2FF;
    transition: 1s;
}

.boxGridTexto2{
    display: grid;
    gap: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 1s;
}

.boxGridTexto2:hover{
    color: #81964D;
    transition: 1s;
}
